{% extends '::baseUser.html.twig' %}

    {% block title %}Réinitialisation du mot de passe{% endblock %}
    
    {% block body %}

		<div class="container" style="margin-top:70px">
			<div class="row">
			    <div class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
				    <div class="panel panel-default">				    
				        <div class="panel-body">
					      	{% block fos_user_content %}	

						        <fieldset style="background-color: rgb(31,174,151);">							            
						            <div class="row" style="margin-bottom: 20px;">
						            	<h4 style="margin-left:25px;">Mot de passe réinitialisé !</h4>
						                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
							                <p>Un email vient de vous être envoyé. Cliquez sur le lien pour activer votre nouveau mot de passe.</p> 
							                <p>Attention, vous ne pouvez demander qu'un mot de passe toutes les 24 heures !</p>						              
							                <div class="col-md-12 text-center">
							                	<a href="{{ path('fos_user_security_login') }}"><button class="btn btn-warning">Connectez-vous</button></a>
							                </div>							                
						                </div>
						            </div>						           
						        </fieldset>
						        
					    	{% endblock fos_user_content %}
				        </div>
				    </div>
			    </div>
			</div>
		</div>					
		
	{% endblock %}